<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf0HfFzJeFYwBnWwWfOtQ5db1hO6kP63E</string>
	<key>GCM_SENDER_ID</key>
	<string>1094564574208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Veggie-Garden</string>
	<key>PROJECT_ID</key>
	<string>veggie-garden-e7c7e</string>
	<key>STORAGE_BUCKET</key>
	<string>veggie-garden-e7c7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094564574208:ios:3f8214dd8f1bc0d76414e5</string>
</dict>
</plist>